<div class="legend-container">
    Highlight colors:
    <span class="legend-container-item"><span style="color: {{color_scheme.MATCH}};">■</span> Match</span>
    <span class="legend-container-item"><span style="color: {{color_scheme.SUB}};">■</span> Substitution</span>
    <span class="legend-container-item"><span style="color: {{color_scheme.INS}};">■</span> Insertion</span>
    <span class="legend-container-item"><span style="color: {{color_scheme.DEL}};">■</span> Deletion</span>
    <span class="legend-container-item"><span style="color: {{color_scheme.PAD}};">■</span> Padding</span>
    <span class="legend-container-item"><span class="keyword-box">Keyword</span></span>
</div>
